h1 {
    color: #C0254A;
    font-family: 'Rancho', cursive;
    line-height: 90px;
    font-weight: 400;
    font-size: 100px;
    margin-top: 10px;
    
    
}

#img-avatar {
    border: 15px solid #FFE6E6;
    box-shadow: 0px 4px 4px rgba(112, 0, 19, 0.25);  
    position: center; 
    z-index: 1;
    border-radius: 40%;
    margin-top: 30px;
    margin-bottom: -20px;
}

#img-banner {
    position: relative;
    
}

.card-body {
    background-image: url(imagenes/banner-avatar.png);
    position: relative;
    background-size: cover ;
    background-repeat: no-repeat;
    
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

.card {
    margin:-20px;
}

#desplegables {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100px;
}

#collapse1 , #collapse2 , #collapse3 , #collapse4 {
    text-align: center;
    margin: 30px;
}

h3 {
    color: #C0254A;
}

h5 {
    font-size: large;
}

.btn {
    font-size: 20px;
    color: #C0254A;
}

#collapse1 {
    max-height: 10%;
}

#collapse1.abierto {
    max-height: 100%;
}